<div class="mycontainer" style="width:100% ;" >
<div style="display:inline;">
<h2 style="color:#C2BCFB ;">Profil</h2>
<h3 style="color:#C2BCFB;margin-top: -0.8em;">Customise ton profil, tes photos, ta biographie...</h3>
</div>


<div  style="padding: 1em; height: 10em; width: 35em;height:15em ; background-color:#242140;border-radius: 1em;justify-content: space-between; margin-top: 8em;margin-left: auto;margin-right: auto ;">
      <div style="display:flex;justify-content: space-between;">
    <p>Nom d'utilisateur</p>
    <img src="/assets/circlelogo.png" style="height:10em;width: 10em; margin-top:-6em;">
    <button style="border:0px; background-color: #2D2A4E;border-radius: 0.5em; padding: 1em;height:2.5em;text-align: center;align-items: center;">
       <p style="margin-top:-0.5em;color:#C2BCFB ;">Modifer</p>

    </button>
    </div>
    <p style="margin-top:-2.4em ;color:white;">FeedL</p>
    <p style="margin-top:2em ;">Biographie</p>
    <div style="display:flex;">
    <div style="padding:0.5em;background-color:#2D2A4E;width:22em;border-radius:0.4em;height:5em ;">
        <p>Merci la vie :)</p>
        
    </div>
    <div style="padding: 0.4em;padding-bottom: 0em;background-color:#2D2A4E;width:fit-content;border-radius:0.4em;height:fit-content;margin-left: 6em ;">
        <input type="image" src="/assets/instagram.png" style="height:2.5em;width: 2.5m;">
    </div>
    </div>
</div>
 
<p style="color:white ;">Mes paires en vente affichées sur mon profil :</p>
<p style="color:#C2BCFB;margin-top:-0.5em ;">15 paires sont en ventes</p>

<div style="width:100%; background-color:#242140;  border-radius: 0.5em;">
<div class="row" style="padding:1em;padding-bottom: 0em;border-radius: 0.5em;">

    <div class="col-4" style="padding:2em ;">
        
        <div style="background-color:#312E51 ;display: flex;padding-left:1em;padding-top: 1em; ;padding-bottom: 1em; justify-content: space-between; padding-right:1.5em;border-radius: 0.5em; ">
            <div style="display:inline ;">
            <p> Nike Dunk Low White Black</p>
            <p style="margin-top: 1.5em;">Taille : <span style="color:white;">45 EU </span>     Prix : <span style="color:white;">230€</span></p>
        </div>
        <div>
            <img src="/assets/profilshoe.png" style="height:6.5em;width: 10em;">
            <img src="/assets/hide.png" style="height:1.3em;width: 2em; margin-right: -2.5em; margin-left: 1em;">

        </div>
        </div>
    </div>
    <div class="col-4" style="padding:2em ;">
        
        <div style="background-color:#312E51 ;display: flex;padding-left:1em;padding-top: 1em; ;padding-bottom: 1em; justify-content: space-between; padding-right:1.5em;border-radius: 0.5em; ">
            <div style="display:inline ;">
            <p> Nike Dunk Low White Black</p>
            <p style="margin-top: 1.5em;">Taille : <span style="color:white;">45 EU </span>     Prix : <span style="color:white;">230€</span></p>
        </div>
        <div>
            <img src="/assets/profilshoe.png" style="height:6.5em;width: 10em;">
            <img src="/assets/hide.png" style="height:1.3em;width: 2em; margin-right: -2.5em; margin-left: 1em;">

        </div>
        </div>
    </div>
    <div class="col-4" style="padding:2em ;">
        
        <div style="background-color:#312E51 ;display: flex;padding-left:1em;padding-top: 1em; ;padding-bottom: 1em; justify-content: space-between; padding-right:1.5em;border-radius: 0.5em; ">
            <div style="display:inline ;">
            <p> Nike Dunk Low White Black</p>
            <p style="margin-top: 1.5em;">Taille : <span style="color:white;">45 EU </span>     Prix : <span style="color:white;">230€</span></p>
        </div>
        <div>
            <img src="/assets/profilshoe.png" style="height:6.5em;width: 10em;">
            <img src="/assets/show.png" style="height:1.3em;width: 2em; margin-right: -2.5em; margin-left: 1em;">

        </div>
        </div>
    </div>
   

</div>
<div class="row" style="padding:1em;padding-bottom: 0em;border-radius: 0.5em;">

    <div class="col-4" style="padding:2em ;">
        
        <div style="background-color:#312E51 ;display: flex;padding-left:1em;padding-top: 1em; ;padding-bottom: 1em; justify-content: space-between; padding-right:1.5em;border-radius: 0.5em; ">
            <div style="display:inline ;">
            <p> Nike Dunk Low White Black</p>
            <p style="margin-top: 1.5em;">Taille : <span style="color:white;">45 EU </span>     Prix : <span style="color:white;">230€</span></p>
        </div>
        <div>
            <img src="/assets/profilshoe.png" style="height:6.5em;width: 10em;">
            <img src="/assets/hide.png" style="height:1.3em;width: 2em; margin-right: -2.5em; margin-left: 1em;">

        </div>
        </div>
    </div>
    <div class="col-4" style="padding:2em ;">
        
        <div style="background-color:#312E51 ;display: flex;padding-left:1em;padding-top: 1em; ;padding-bottom: 1em; justify-content: space-between; padding-right:1.5em;border-radius: 0.5em; ">
            <div style="display:inline ;">
            <p> Nike Dunk Low White Black</p>
            <p style="margin-top: 1.5em;">Taille : <span style="color:white;">45 EU </span>     Prix : <span style="color:white;">230€</span></p>
        </div>
        <div>
            <img src="/assets/profilshoe.png" style="height:6.5em;width: 10em;">
            <img src="/assets/hide.png" style="height:1.3em;width: 2em; margin-right: -2.5em; margin-left: 1em;">

        </div>
        </div>
    </div>
    <div class="col-4" style="padding:2em ;">
        
        <div style="background-color:#312E51 ;display: flex;padding-left:1em;padding-top: 1em; ;padding-bottom: 1em; justify-content: space-between; padding-right:1.5em;border-radius: 0.5em; ">
            <div style="display:inline ;">
            <p> Nike Dunk Low White Black</p>
            <p style="margin-top: 1.5em;">Taille : <span style="color:white;">45 EU </span>     Prix : <span style="color:white;">230€</span></p>
        </div>
        <div>
            <img src="/assets/profilshoe.png" style="height:6.5em;width: 10em;">
            <img src="/assets/show.png" style="height:1.3em;width: 2em; margin-right: -2.5em; margin-left: 1em;">

        </div>
        </div>
    </div>
   

</div>

</div>
</div>