<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="c">
  <h2>Chat</h2>
  <p>Discute, echange avec les autres membres<br />de la communaute.</p>
</div>

<div class="row c1">
  <div class="col-3">
    <h3 style="color: white">Boite de reception</h3>

    <div class="s">
      <!-- <form class="example" action="action_page.php"> -->
      <i class="fa fa-search"></i>
      <p style="margin-left: 10px">Rechercher</p>
      <!-- <input style="background-color:#2D2A4E" type="text" placeholder="Search.." name="search"> -->

      <!-- </form> -->
    </div>
    <div class="cover">
      <div class="c2">
        <div class="row c3">
          <div class="col-2">
            <img
              style="margin-top: 8px"
              src="../../assets/p1.PNG"
              width="220%"
            />
          </div>
          <div class="col-8">
            <h3 style="color: white">Charlie Hannert</h3>
            <p style="margin-top: -15px">Charlie#1637</p>
          </div>

          <div class="col-2">
            <p>5m</p>
          </div>
        </div>

        <p style="color: white; padding-left: 10px">
          Salut mon reuf, t"aurais une sacai waffle<br />black en 11 US?
        </p>
        <hr />
      </div>

      <div class="c2">
        <div class="row c3">
          <div class="col-2">
            <img
              style="margin-top: 8px"
              src="../../assets/p1.PNG"
              width="220%"
            />
          </div>
          <div class="col-8">
            <h3 style="color: white">Charlie Hannert</h3>
            <p style="margin-top: -15px">Charlie#1637</p>
          </div>

          <div class="col-2">
            <p>5m</p>
          </div>
        </div>

        <p style="color: white; padding-left: 10px">
          Salut mon reuf, t"aurais une sacai waffle<br />black en 11 US?
        </p>
        <hr />
      </div>

      <div class="c2">
        <div class="row c3">
          <div class="col-2">
            <img
              style="margin-top: 8px"
              src="../../assets/p1.PNG"
              width="220%"
            />
          </div>
          <div class="col-8">
            <h3 style="color: white">Charlie Hannert</h3>
            <p style="margin-top: -15px">Charlie#1637</p>
          </div>

          <div class="col-2">
            <p>5m</p>
          </div>
        </div>

        <p style="color: white; padding-left: 10px">
          Salut mon reuf, t"aurais une sacai waffle<br />black en 11 US?
        </p>
        <hr />
      </div>

      <div class="c2">
        <div class="row c3">
          <div class="col-2">
            <img
              style="margin-top: 8px"
              src="../../assets/p1.PNG"
              width="220%"
            />
          </div>
          <div class="col-8">
            <h3 style="color: white">Charlie Hannert</h3>
            <p style="margin-top: -15px">Charlie#1637</p>
          </div>

          <div class="col-2">
            <p>5m</p>
          </div>
        </div>

        <p style="color: white; padding-left: 10px">
          Salut mon reuf, t"aurais une sacai waffle<br />black en 11 US?
        </p>
        <hr />
      </div>

      <div class="c2">
        <div class="row c3">
          <div class="col-2">
            <img
              style="margin-top: 8px"
              src="../../assets/p1.PNG"
              width="220%"
            />
          </div>
          <div class="col-8">
            <h3 style="color: white">Charlie Hannert</h3>
            <p style="margin-top: -15px">Charlie#1637</p>
          </div>

          <div class="col-2">
            <p>5m</p>
          </div>
        </div>

        <p style="color: white; padding-left: 10px">
          Salut mon reuf, t"aurais une sacai waffle<br />black en 11 US?
        </p>
        <hr />
      </div>

      <div class="c2">
        <div class="row c3">
          <div class="col-2">
            <img
              style="margin-top: 8px"
              src="../../assets/p1.PNG"
              width="220%"
            />
          </div>
          <div class="col-8">
            <h3 style="color: white">Charlie Hannert</h3>
            <p style="margin-top: -15px">Charlie#1637</p>
          </div>

          <div class="col-2">
            <p>5m</p>
          </div>
        </div>

        <p style="color: white; padding-left: 10px">
          Salut mon reuf, t"aurais une sacai waffle<br />black en 11 US?
        </p>
        <hr />
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="row c4">
      <div class="col-2">
        <img style="margin-top: 4px" src="../../assets/p2.PNG" width="85%" />
      </div>
      <div class="col-9" style="margin-left: -20px; margin-top: 5px">
        <h3 style="color: white">Klement</h3>
        <p style="margin-top: -15px">klemant#9457</p>
      </div>

      <div class="col-1" style="padding-top: 20px">
        <p style="font-weight: bolder">. . .</p>
      </div>
    </div>

    <div class="cover1">
      <div>
        <p class="d">24 Juin</p>
      </div>

      <div class="row">
        <div class="col-md-2">
          <img src="../../assets/p2.PNG" width="75%" />
          <img style="margin-top: 250px;" src="../../assets/p2.PNG" width="75%" />
        </div>
        <div class="col-md-8 chat">
          <div class="chat1">
            <p style="color: white">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
              voluptatibus quia. Voluptatem sunt praesentium ipsa?
            </p>
            <p style="color: white">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
              provident iste recusandae atque libero!
            </p>
          </div>
          <p>20h34</p>

          <div class="chat2">
            <p style="color: #2d2a4e">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo ex
              enim mollitia quos earum ipsa hic magni?
            </p>
          </div>
          <p style="margin-left: 350px">20h37</p>

          <div>
            <p class="d1">25 Juin</p>
          </div>
          <img src="../../assets/vn.PNG" width="70%">
          <p style="font-size: smaller;">Duree : 20 secondes</p>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
        <div class="col-md-2">
            <img style="margin-top: 144px;margin-left: 80px;" src="../../assets/p3.PNG" width="75%" />
          </div>
      </div>
    </div>
  </div>

  <div class="col-3" style="padding-right: 10px">
    <div class="c5">
      <h2>
        <font color="white">Profil de </font>
        <font color="#847FC;">Klement</font>
      </h2>
    </div>

    <div class="cover">
      <div class="text-center">
        <img src="../../assets/prof.PNG" width="=80%" />
        <br />
        <br />

        <div class="row">
          <div class="col-4" style="margin-left: 65px">
            <h3 style="color: white">Klement</h3>
            <p style="margin-top: -13px">klemant#9457</p>
          </div>
          <div class="col-3">
            <img src="../../assets/insta.PNG" width="100%" />
          </div>
        </div>
      </div>
      <div style="display: flex; padding-left: 60px" class="text-center">
        <p
          class="col-md-4"
          style="color: #69fccb; background-color: #312e51; border-radius: 8px"
        >
          Legit
        </p>
        <p style="color: white; margin-left: 10px">47 Ventes</p>
      </div>
      <hr />
      <div style="padding-left: 15px">
        <p style="color: white; font-size: medium">Ses paires en vente :</p>
        <p style="margin-top: -13px">6 paires disponsibles</p>
      </div>

      <div class="row c6">
        <div class="col-md-8">
          <p>Nike Dunk Low White Black</p>
          <div style="display: flex">
            <p>
              <font>Taille : </font>
              <font color="white">45 EU</font>
            </p>

            <p style="margin-left: 10px">
              <font>Prix : </font>
              <font color="white">230E</font>
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <img style="margin-top: 20px;" src="../../assets/item1.PNG" width="130%" />
        </div>
      </div>

      <div class="row c6">
        <div class="col-md-8">
          <p>Nike Dunk Low White Black</p>
          <div style="display: flex">
            <p>
              <font>Taille : </font>
              <font color="white">45 EU</font>
            </p>

            <p style="margin-left: 10px">
              <font>Prix : </font>
              <font color="white">230E</font>
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <img style="margin-top: 20px;" src="../../assets/item1.PNG" width="130%" />
        </div>
      </div>

      <div class="row c6">
        <div class="col-md-8">
          <p>Nike Dunk Low White Black</p>
          <div style="display: flex">
            <p>
              <font>Taille : </font>
              <font color="white">45 EU</font>
            </p>

            <p style="margin-left: 10px">
              <font>Prix : </font>
              <font color="white">230E</font>
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <img style="margin-top: 20px;" src="../../assets/item1.PNG" width="130%" />
        </div>
      </div>

      <div class="row c6">
        <div class="col-md-8">
          <p>Nike Dunk Low White Black</p>
          <div style="display: flex">
            <p>
              <font>Taille : </font>
              <font color="white">45 EU</font>
            </p>

            <p style="margin-left: 10px">
              <font>Prix : </font>
              <font color="white">230E</font>
            </p>
          </div>
        </div>

        <div class="col-md-4">
          <img style="margin-top: 20px;" src="../../assets/item1.PNG" width="130%" />
        </div>
      </div>
    </div>
  </div>
</div>
