<div class="row">
    <div class="col-7 want">
      <h2>Want to Buy</h2>
      <p>
        Restez informez des recherches de paires des plateforme<br />de reventes
        et vendez vos paires facilment.
      </p>
      <div class="row">
        <div class="col-2">
          <p class="r">Rechercher</p>
        </div>
  
        <div class="col-4" style="margin-left: 30px">
          <div style="display: flex">
            <img src="../../assets/i2.PNG" width="15%" />
            <p style="padding-top: 10px">Envoyer un message.</p>
          </div>
        </div>
  
        <div class="col-5" style="margin-left: -30px">
          <div style="display: flex">
            <img src="../../assets/i3.PNG" width="13%" />
            <p style="padding-top: 10px">En stock dans mon inventaire.</p>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <p style="padding-left: 45px">Wethenew</p>
  
          <div class="scroller">
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-6">
          <p style="padding-left: 45px">Kikikickz</p>
          <div class="scroller">
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row" style="margin-top: 10px">
              <div class="col-2">
                <p>Hier a 16:47</p>
              </div>
              <div class="col-10 w1">
                <div class="row">
                  <div class="col-6" style="padding-top: 5px">
                    <p style="color: white">Dunk Low Black</p>
                    <p>Taille : 44 EU</p>
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/ss1.PNG" width="200%" />
                  </div>
                  <div class="col-3 i">
                    <img src="../../assets/m1.PNG" width="130%" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-5 shadow sl best">
      <h2>Best Seller</h2>
      <p>
        Top 10 des paires les plus vendues sur StockX<br />sur la periode de ton
        choix
      </p>
  
      <select
        name="item"
        id="item"
        style="
          background-color: #2d2a4e;
          color: #afaae5;
          border: #2d2a4e;
          border-radius: 3px;
          height: 30px;
        "
      >
        <option value="Cette semaine">Cette semaine</option>
        <option value="Item2">Item2</option>
        <option value="Item3">Item3</option>
        <option value="Item4">Item4</option>
      </select>
      <br /><br />
      <div class="row">
        <div class="col-11">
          <div
            class="row"
            style="background-color: #2d2a4e"
            *ngFor="let cs of product"
          >
            <div class="col-2">
              <img src="{{ cs.img }}" width="200%" />
            </div>
            <div class="col-5 b1">
              <p style="color: White">{{ cs.fname }}</p>
              <p style="color: White">{{ cs.lname }}</p>
            </div>
  
            <div class="col-2" style="padding: 10px">
              <img src="{{ cs.graph }}" width="200%" />
            </div>
            <div class="col-3" style="padding: 10px">
              <p style="float: right; color: white">{{ cs.vent }}</p>
              <p style="float: right; color: #5dd0b1">{{ cs.perc }}</p>
            </div>
          </div>
        </div>
        <div class="col-1">
          <div class="row" *ngFor="let cs of product">
            <p style="padding-top: 50px">{{ cs.id }}</p>
            <br /><br /><br />
          </div>
        </div>
      </div>
    </div>
  
    <!-- <div class="col-1 num" >
        <div class="row" *ngFor="let cs of product">
          <p>{{cs.id}}</p>
          <br><br><br><br>
        </div>
        
      </div> -->
  </div>
  