<div class="row ">
    <div class="col-3 hold">
        <h1>Hold or Sell</h1>
        <p>Beneficiez d'une estimation de la cote des items apres leurs sorties.</p>
    
    <div style="margin-top: 5px;">
        <h3>Nike Dunk Low Retro White Black (2021)</h3>
        <div class="row">
            <div class="col-7 " style="padding-bottom: 30px;">
                <img src="../../assets/shoe1_t.PNG" width="110%" height="140%">
            </div>

            <div class="col-5">
                <div class="progress" style="max-width: 90%;height: 40px;">
                    <div class="progress-bar"
                        style="width: 70%;background-color: #363358;">Hold
                    </div>
                    <div class="progress-bar "
                        style="width: 30%;background-color: #2D2A4E;color: #65E9C0;">75%
                    </div>
                </div>
                
                <br>

                <div class="progress" style="max-width: 90%;height: 40px;">
                    <div class="progress-bar"
                        style="width: 35%;background-color: #363358;">Sell
                    </div>
                    
                    <div class="progress-bar "
                        style="width: 65%;background-color: #2D2A4E;color: #E87E82;">25%
                    </div>
                </div>
            </div>
        </div>

        <hr>
    </div>

    <div style="margin-top: 5px;">
        <h3>Jordan 1 Retro High Electro Orange</h3>
        <div class="row">
            <div class="col-7 " style="padding-bottom: 30px;">
                <img src="../../assets/shoe2_t.PNG" width="110%" height="140%">
            </div>

            <div class="col-5">
                <div class="progress" style="max-width: 90%;height: 40px;">
                    <div class="progress-bar"
                        style="width: 70%;background-color: #363358;">Hold
                    </div>
                    <div class="progress-bar "
                        style="width: 30%;background-color: #2D2A4E;color: #65E9C0;">75%
                    </div>
                </div>
                
                <br>

                <div class="progress" style="max-width: 90%;height: 40px;">
                    <div class="progress-bar"
                        style="width: 35%;background-color: #363358;">Sell
                    </div>
                    
                    <div class="progress-bar "
                        style="width: 65%;background-color: #2D2A4E;color: #E87E82;">25%
                    </div>
                </div>
            </div>
        </div>

        <hr>
    </div>

    <div style="margin-top: 5px;">
        <h3>Nike Dunk Low Retro White Black (2021)</h3>
        <div class="row">
            <div class="col-7 " style="padding-bottom: 30px;">
                <img src="../../assets/shoe1_t.PNG" width="110%" height="140%">
            </div>

            <div class="col-5">
                <div class="progress" style="max-width: 90%;height: 40px;">
                    <div class="progress-bar"
                        style="width: 70%;background-color: #363358;">Hold
                    </div>
                    <div class="progress-bar "
                        style="width: 30%;background-color: #2D2A4E;color: #65E9C0;">75%
                    </div>
                </div>
                
                <br>

                <div class="progress" style="max-width: 90%;height: 40px;">
                    <div class="progress-bar"
                        style="width: 35%;background-color: #363358;">Sell
                    </div>
                    
                    <div class="progress-bar "
                        style="width: 65%;background-color: #2D2A4E;color: #E87E82;">25%
                    </div>
                </div>
            </div>
        </div>

        <hr>
    </div>

    <div style="margin-top: 5px;">
        <h3>Jordan 1 Retro High Electro Orange</h3>
        <div class="row">
            <div class="col-7 " style="padding-bottom: 30px;">
                <img src="../../assets/shoe2_t.PNG" width="110%" height="140%">
            </div>

            <div class="col-5">
                <div class="progress" style="max-width: 90%;height: 40px;">
                    <div class="progress-bar"
                        style="width: 70%;background-color: #363358;">Hold
                    </div>
                    <div class="progress-bar "
                        style="width: 30%;background-color: #2D2A4E;color: #65E9C0;">75%
                    </div>
                </div>
                
                <br>

                <div class="progress" style="max-width: 90%;height: 40px;">
                    <div class="progress-bar"
                        style="width: 35%;background-color: #363358;">Sell
                    </div>
                    
                    <div class="progress-bar "
                        style="width: 65%;background-color: #2D2A4E;color: #E87E82;">25%
                    </div>
                </div>
            </div>
        </div>

        <hr>
    </div>

    <div style="margin-top: 5px;">
        <h3>Nike Dunk Low Retro White Black (2021)</h3>
        <div class="row">
            <div class="col-7 " style="padding-bottom: 30px;">
                <img src="../../assets/shoe1_t.PNG" width="110%" height="140%">
            </div>

            <div class="col-5">
                <div class="progress" style="max-width: 90%;height: 40px;">
                    <div class="progress-bar"
                        style="width: 70%;background-color: #363358;">Hold
                    </div>
                    <div class="progress-bar "
                        style="width: 30%;background-color: #2D2A4E;color: #65E9C0;">75%
                    </div>
                </div>
                
                <br>

                <div class="progress" style="max-width: 90%;height: 40px;">
                    <div class="progress-bar"
                        style="width: 35%;background-color: #363358;">Sell
                    </div>
                    
                    <div class="progress-bar "
                        style="width: 65%;background-color: #2D2A4E;color: #E87E82;">25%
                    </div>
                </div>
            </div>
        </div>

        <hr>
    </div>

    <div style="margin-top: 5px;">
        <h3>Jordan 1 Retro High Electro Orange</h3>
        <div class="row">
            <div class="col-7 " style="padding-bottom: 30px;">
                <img src="../../assets/shoe2_t.PNG" width="110%" height="140%">
            </div>

            <div class="col-5">
                <div class="progress" style="max-width: 90%;height: 40px;">
                    <div class="progress-bar"
                        style="width: 70%;background-color: #363358;">Hold
                    </div>
                    <div class="progress-bar "
                        style="width: 30%;background-color: #2D2A4E;color: #65E9C0;">75%
                    </div>
                </div>
                
                <br>

                <div class="progress" style="max-width: 90%;height: 40px;">
                    <div class="progress-bar"
                        style="width: 35%;background-color: #363358;">Sell
                    </div>
                    
                    <div class="progress-bar "
                        style="width: 65%;background-color: #2D2A4E;color: #E87E82;">25%
                    </div>
                </div>
            </div>
        </div>

        <hr>
    </div>

    
    </div>


    <div class="col-9 shadow sl guide1">
        <h1>Guide</h1>
        <p>Informations de sortie</p>

        <div class="row guide guide2" style="margin-top: 5px;">
            <div class="col-5">
                <h3>Nike Dunk Low Retro White Black (2021)</h3>
                <img src="../../assets/shoe1.PNG" width="100%">
                <br>
                <div class="row">
                    <div class="col-6">
                        <p>Date : 29 Juillet 2022</p>
                        <p>prix Retail : 99.99E</p>
                        <p>prix Resell : 250.00E+</p>
                    </div>
                    <div class="col-6">
                        <p>Benefice astime a : 150.00E+</p>
                        <p>SKU : DD1391-100</p>
                        <p>Notre avis : Hold</p>
                    </div>
                </div>
            </div>

            <div class="col-7 sl desc">
                <h3 style="color: white;">Description</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dignissimos reiciendis sunt soluta, saepe doloremque esse rerum deleniti amet, animi est libero. Ea magni tempore laborum blanditiis reiciendis temporibus facere.</p>
                
                <h3 style="color: white;">Notre avis et nos conseils :</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab a, sunt commodi quidem necessitatibus optio quia veritatis illum vel exercitationem aut magni repudiandae culpa sint cum obcaecati laborum officiis?</p>
            </div>

        </div>

        <div class="row guide guide2" style="margin-top: 20px;">
            <div class="col-5">
                <h3>Jordan 1 Retro High Electro Orange</h3>
                <img src="../../assets/shoe2.PNG" width="100%">
                <br>
                <div class="row">
                    <div class="col-6">
                        <p>Date : 29 Juillet 2022</p>
                        <p>prix Retail : 99.99E</p>
                        <p>prix Resell : 250.00E+</p>
                    </div>
                    <div class="col-6">
                        <p>Benefice astime a : 150.00E+</p>
                        <p>SKU : DD1391-100</p>
                        <p>Notre avis : Hold</p>
                    </div>
                </div>
            </div>

            <div class="col-7 sl desc">
                <h3 style="color: white;">Description</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dignissimos reiciendis sunt soluta, saepe doloremque esse rerum deleniti amet, animi est libero. Ea magni tempore laborum blanditiis reiciendis temporibus facere.</p>
                
                <h3 style="color: white;">Notre avis et nos conseils :</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab a, sunt commodi quidem necessitatibus optio quia veritatis illum vel exercitationem aut magni repudiandae culpa sint cum obcaecati laborum officiis?</p>
            </div>

        </div>

        <div class="row guide guide2" style="margin-top: 20px;">
            <div class="col-5">
                <h3>Nike Dunk Low Retro White Black (2021)</h3>
                <img src="../../assets/shoe1.PNG" width="100%">
                <br>
                <div class="row">
                    <div class="col-6">
                        <p>Date : 29 Juillet 2022</p>
                        <p>prix Retail : 99.99E</p>
                        <p>prix Resell : 250.00E+</p>
                    </div>
                    <div class="col-6">
                        <p>Benefice astime a : 150.00E+</p>
                        <p>SKU : DD1391-100</p>
                        <p>Notre avis : Hold</p>
                    </div>
                </div>
            </div>

            <div class="col-7 sl desc">
                <h3 style="color: white;">Description</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dignissimos reiciendis sunt soluta, saepe doloremque esse rerum deleniti amet, animi est libero. Ea magni tempore laborum blanditiis reiciendis temporibus facere.</p>
                
                <h3 style="color: white;">Notre avis et nos conseils :</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab a, sunt commodi quidem necessitatibus optio quia veritatis illum vel exercitationem aut magni repudiandae culpa sint cum obcaecati laborum officiis?</p>
            </div>

        </div>

        <div class="row guide guide2" style="margin-top: 20px;">
            <div class="col-5">
                <h3>Jordan 1 Retro High Electro Orange</h3>
                <img src="../../assets/shoe2.PNG" width="100%">
                <br>
                <div class="row">
                    <div class="col-6">
                        <p>Date : 29 Juillet 2022</p>
                        <p>prix Retail : 99.99E</p>
                        <p>prix Resell : 250.00E+</p>
                    </div>
                    <div class="col-6">
                        <p>Benefice astime a : 150.00E+</p>
                        <p>SKU : DD1391-100</p>
                        <p>Notre avis : Hold</p>
                    </div>
                </div>
            </div>

            <div class="col-7 sl desc">
                <h3 style="color: white;">Description</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dignissimos reiciendis sunt soluta, saepe doloremque esse rerum deleniti amet, animi est libero. Ea magni tempore laborum blanditiis reiciendis temporibus facere.</p>
                
                <h3 style="color: white;">Notre avis et nos conseils :</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ab a, sunt commodi quidem necessitatibus optio quia veritatis illum vel exercitationem aut magni repudiandae culpa sint cum obcaecati laborum officiis?</p>
            </div>

        </div>
        
    </div>
    
  </div>
