<div class="mycontainer" >
    <div class="box" >
        <div style="display:flex;width: 20em;height:4em;">

            <img src="/assets/circlelogo.png" style="height:3empx;width: 5em;margin-left: -22px;">

        <div style="display:inline; margin-left: 1em; margin-top: 0em;">
        <p>Membre depuis le</p>
        <p style="color:white">12 Décembre 2021</p>
    </div>
    </div>
    </div>
    <hr>
  

    <div class="box" style="padding:1em; height: 20em;">
        <p>Programme du jour</p>
        <p style="color:white ; margin-top:2em; width:30em">Bonjour à tous, aujourd'hui aura lieu la sorti des Sacai x Blazer
            dans les coloris suivant : Black Patent Leathe, White Patent Leather.
            Seule la blanche permetrra une légère plus value, car la matière
            "Patent" est assez spéciale. Aucune autre sortie n'est prévu
            pour aujourd'hui, bonne fin de journée à tous.</p>
    </div>
    <input type="image" src="/assets/graph.PNG" style="height:50em;width: 30em;margin-left: 5em; margin-top: -9em;">

    <div style="margin-left:5em; margin-top: -8em;">
        <div class="row" style="width:30em ;padding: 2em; background-color: #2D2A4E; border-radius: 0.5em;">
            <div class="col-1" style="margin:1em;margin-top:0em  ;">
                <p style="color:#C2BCFB">01</p>
            </div>
                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">02</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">03</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">04</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">05</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">06</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">07</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">08</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">09</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">10</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">11</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">12</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">13</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">14</p>
            </div>
                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">15</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">16</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">17</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">18</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">19</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">20</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">21</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">22</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">23</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">24</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">25</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">26</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">27</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">28</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">29</p>
            </div>                        <div class="col-1" style="margin:1em;margin-top:0em  ;">

                <p style="color:#C2BCFB">30</p>
            </div>


        </div>
    </div>



</div>