<div class="mycontainer">
    <div style="display:inline;">
    <h1>Fil d'actualité</h1>

    <h3 style="width:20em; margin-top:-0.7em;">Regarde, publie et interagis avec les
        membres de la communauté.</h3>
    </div>
    <hr>

    <div class="box" style="display:inline; height: 10em; width: 50em;">
        
        <div style="display:flex;width: 75%;">
        <img src="/assets/circlelogo.png" style="height:5em;width: 5em;margin-top: 2em; margin-left:0.8em;">
        <input style="width:25em;margin-left:1em;color:#ABA6E0; background-color:#2D2A4E;margin-left: 0.5em; font-size: x-large ;">
        </div>
        <div style="display:flex; width: 100%;position: relative;">
        <img src="/assets/image.png" style="height:1.2em;width: 1.2em; margin-left:6em;">
        <img src="/assets/emoji.png" style="height:1.2em;width: 1.2em; margin-left:0.8em;">
    </div>
    <button style="float:right;height: 3em;width: 8em; border-radius: 0.5em;background-color:#C2BCFB;font-size: larger;color: white ;margin-top: -3em;margin-right: 1em;">Publier</button>



    </div>
    <hr>
    <div class="box" style="margin-top:5em;width: 50em;height: fit-content;padding-bottom: 5% ;">
        <div style="margin-top:1em;background-color:#312E51;padding:0.5%;padding-left: 2%;padding-right: 2%;height:fit-content;width:fit-content;text-align:center;border-radius:2em;margin-right:auto;margin-left:auto  ;">
            <p style="background-color:#312E51;text-align: center;margin-top:0.5em ;">Voir les posts moins récents</p>
        </div>

    <div style="width:100%;display: flex; border-bottom: 2px solid #3C3960; padding-bottom: 5%;">
     <img src="/assets/circlelogo.png" style="height:5em;width: 5em;margin-top: 2em; margin-left:1.5em;">
      <p style="margin-top:1em;margin-left:1em;font-size:larger;color:white;">FeedL</p>      
      <p style="margin-top:4em;margin-left:-3em;font-size:larger;color:white;">Je pense que c'est un bon invest les gas !</p>      
      <img src="/assets/image.png" style="height:1.2em;width: 1.2em; margin-left:4em;margin-top: 5em;">
      <img src="/assets/emoji.png" style="height:1.2em;width: 1.2em; margin-left:1em;margin-top: 5em;">
      <img src="/assets/back.png" style="height:1.2em;width: 1.2em; margin-left:1em;margin-top: 5em;">
      <p style="margin-top:6.3em;margin-left:4em;font-size:x-small;color:#C2BCFB;">Il y a 3 minutes</p>      
     
    </div>
    

        
    </div>
  
</div>