<div class="mycontainer">
<h1>Cop or Drop</h1>
<p style="width:18em ;">Réagissez et regardez l'avis global de la
    communauté sur chaque sortie.</p>

    <div style="display:flex;margin-top:3em;">
    <p style="color:white; font-size:larger;">Les sorties de la semaine</p>
    <img src="/assets/next.png" style="height:0.7em;width:0.5em;margin-left: 1em;margin-top: 0.45em;">

    </div>
<div style="display:flex;">
    <div  style=" padding: 1em;background-color:#2D2A4E;display: inline; margin: 1em;border-radius: 0.6em;">
    
        <img src="/assets/shoeimg.png" style="height:12em;width: 18em">
        <p style="margin-top:-2em;">Nike Dunk Low White Black</p>
       <div style="display:flex;">
        <p style="margin-top:1em;">BON RESSELL</p>
        <div class="dot"style=" margin-left:3em;margin-top:1em" ></div>
        </div>
    </div>
    <div  style=" padding: 1em;background-color:#2D2A4E;display: inline; margin: 1em;border-radius: 0.6em;">
    
        <img src="/assets/shoeimg.png" style="height:12em;width: 18em">
        <p style="margin-top:-2em;">Nike Dunk Low White Black</p>
       <div style="display:flex;">
        <p style="margin-top:1em;">BON RESSELL</p>
        <div class="dot"style=" margin-left:3em;margin-top:1em" ></div>
        </div>
    </div>
    <div  style=" padding: 1em;background-color:#2D2A4E;display: inline; margin: 1em;border-radius: 0.6em;">
    
        <img src="/assets/shoeimg.png" style="height:12em;width: 18em">
        <p style="margin-top:-2em;">Nike Dunk Low White Black</p>
       <div style="display:flex;">
        <p style="margin-top:1em;">BON RESSELL</p>
        <div class="dot"style=" margin-left:3em;margin-top:1em" ></div>
        </div>
    </div>
    
</div>

<div style="display:flex;margin-top:3em;">
    <p style="color:white; font-size:larger;">Les paires les plus attendues</p>
    <img src="/assets/next.png" style="height:0.7em;width:0.5em;margin-left: 1em;margin-top: 0.45em;">

    </div>
    <div style="display:flex;">
        <div  style=" padding: 1em;background-color:#2D2A4E;display: inline; margin: 1em;border-radius: 0.6em;">
        
            <img src="/assets/shoeimg.png" style="height:12em;width: 18em">
            <p style="margin-top:-2em;">Nike Dunk Low White Black</p>
           <div style="display:flex;">
            <p style="margin-top:-1em;">Bénéfice : 90-110€</p>
            </div>
            <div style="display:flex;">
                <p style="color:white;">Cop</p>

            </div> 
        </div>
        <div  style=" padding: 1em;background-color:#2D2A4E;display: inline; margin: 1em;border-radius: 0.6em;">
        
            <img src="/assets/shoeimg.png" style="height:12em;width: 18em">
            <p style="margin-top:-2em;">Nike Dunk Low White Black</p>
           <div style="display:flex;">
            <p style="margin-top:-1em;">Bénéfice : 90-110€</p>
            </div>
            <div style="display:flex;">
                <p style="color:white;">Cop</p>

            </div> 
        </div>
        <div  style=" padding: 1em;background-color:#2D2A4E;display: inline; margin: 1em;border-radius: 0.6em;">
        
            <img src="/assets/shoeimg.png" style="height:12em;width: 18em">
            <p style="margin-top:-2em;">Nike Dunk Low White Black</p>
           <div style="display:flex;">
            <p style="margin-top:-1em;">Bénéfice : 90-110€</p>
            </div>
            <div style="display:flex;">
                <p style="color:white;">Cop</p>

            </div> 
        </div>
    </div>
    
   
  
    <div>
     <h1 style="color:white; padding-top: 2em; border-top: 2px solid #353254;">Raffles & Retailers</h1>
    </div>

    <div style="background-color:wheat; border-radius:0.5em;display: inline; width:fit-content">
    
    <p>Nike Dunk Low White Black</p>
    <p>Raffle : <span style="color:#DB79D3">End Clothing</span> : 29 Juillet 2022 à 11H - <span style="color:#DB79D3">SlamJam </span>: 29 Juillet 2022 à 12H</p>
    <p>Retailers : <span style="color:#7B92FE;">Courir</span> : Le drop est prévu pour 9H - <span style="color:#7B92FE;">JD SPORTS</span> : Le drop est prévu pour 10H  </p>
    <h1>Description</h1> 
    <p style="width:40em ;">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna a
        liquyam era Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam 
        nonumy eirmod tempor invidunt ut labore.</p>
      
    </div>



</div>
