<div class="mycontainer" style="display:inline; width: 100%;">
<h1 style="color:#C2BCFB;">Marketplace</h1>
<h3 style="color:#C2BCFB;margin-top: -1em;">Loreal iuspm poreal iusporeal iusp.</h3>

<h1 style="color:white;margin-top: 3em;">Les annonces</h1>
    <div style="display:flex;">
        <p>Filter par: </p>
        <div class="box" style="width:fit-content;display: flex;margin-top: -0.3em ;height: 2.4em;  padding-left: 1em;padding-right: 1em;margin-left: 2em;">
            <p style="text-align:center ; margin-top:0.5em">Les plus récente</p>
            <input type="image" src="/assets/dropdown.png" style="height:0.6em;width: 1em; margin-top:0.9em;margin-left: 2.6em;">
        
          </div>
    <div class="box" style="width:10em;display: flex;margin-top: -0.3em ;height: 2.4em; margin-left: 3em;">
            <input type="image" src="/assets/search.png" style="height:1em;width: 1em;margin: 0.6em;">
              <input style="margin-left:0em;color:#ABA6E0;width: 8em ;">

            </div>
        
    </div>

    <div style="background-color:#2D2A4E;border-radius: 0.4em ;">
    <div class="row" style="width:100%;padding: 2em;">
        <div class="col-3">
            <div style="background-color: #302D50;border-radius: 0.4em;display: flex;padding: 1em;width: 18em; margin-top: 1em ;">
                <input type="image" src="/assets/dp.png" style="height:2em;width: 2em">
                <span style="color:white;max-width:2em;margin-left: 1em;margin-top: 0.3em ;">Gaetanleplug</span>
                <input type="image" src="/assets/approved.png" style="height:1em;width: 1.4em;margin-left: auto;margin-top:0.5em; ;">

            
            </div>
            <div style="z-index: 1; margin-top:1em;background-color: #302D50; border-radius: 0.4em;text-align: center;display: inline-block;padding: 1em;justify-content: center;width: 18em;">
                <img src="/assets/shoeimg.png" style="height:12em;width: 18em">
                <p style="color:white;margin-top:-2.2em;">Dunk Low Black White</p>
                <span>PRIX <span style="color:white">220.00€</span></span>
                <hr>
                <p>TAILLE <span style="color:white">39 EU</span></p>

            </div>
            <div style="z-index:2;display:flex;margin-left: 13em;margin-right: 2em;margin-top: -1.5em;">
                <input type="image" src="/assets/comment.png" style="height:1.3em;width: 1.6em;margin-top:0.8em; ">
                <input type="image" src="/assets/heart.png" style="height:1.3em;width: 1.6em;margin-top:0.8em;margin-left: 1.5em ;">
   
            
            </div>

        </div>
        <div class="col-3">
            <div style="background-color: #302D50;border-radius: 0.4em;display: flex;padding: 1em;width: 18em; margin-top: 1em ;">
                <input type="image" src="/assets/dp.png" style="height:2em;width: 2em">
                <span style="color:white;max-width:2em;margin-left: 1em;margin-top: 0.3em ;">Gaetanleplug</span>
                <input type="image" src="/assets/approved.png" style="height:1em;width: 1.4em;margin-left: auto;margin-top:0.5em; ;">

            
            </div>
            <div style="z-index: 1; margin-top:1em;background-color: #302D50; border-radius: 0.4em;text-align: center;display: inline-block;padding: 1em;justify-content: center;width: 18em;">
                <img src="/assets/shoeimg.png" style="height:12em;width: 18em">
                <p style="color:white;margin-top:-2.2em;">Dunk Low Black White</p>
                <span>PRIX <span style="color:white">220.00€</span></span>
                <hr>
                <p>TAILLE <span style="color:white">39 EU</span></p>

            </div>
            <div style="z-index:2;display:flex;margin-left: 13em;margin-right: 2em;margin-top: -1.5em;">
                <input type="image" src="/assets/comment.png" style="height:1.3em;width: 1.6em;margin-top:0.8em; ">
                <input type="image" src="/assets/heart.png" style="height:1.3em;width: 1.6em;margin-top:0.8em;margin-left: 1.5em ;">
   
            
            </div>

        </div>
        <div class="col-3">
            <div style="background-color: #302D50;border-radius: 0.4em;display: flex;padding: 1em;width: 18em; margin-top: 1em ;">
                <input type="image" src="/assets/dp.png" style="height:2em;width: 2em">
                <span style="color:white;max-width:2em;margin-left: 1em;margin-top: 0.3em ;">Gaetanleplug</span>
                <input type="image" src="/assets/approved.png" style="height:1em;width: 1.4em;margin-left: auto;margin-top:0.5em; ;">

            
            </div>
            <div style="z-index: 1; margin-top:1em;background-color: #302D50; border-radius: 0.4em;text-align: center;display: inline-block;padding: 1em;justify-content: center;width: 18em;">
                <img src="/assets/shoeimg.png" style="height:12em;width: 18em">
                <p style="color:white;margin-top:-2.2em;">Dunk Low Black White</p>
                <span>PRIX <span style="color:white">220.00€</span></span>
                <hr>
                <p>TAILLE <span style="color:white">39 EU</span></p>

            </div>
            <div style="z-index:2;display:flex;margin-left: 13em;margin-right: 2em;margin-top: -1.5em;">
                <input type="image" src="/assets/comment.png" style="height:1.3em;width: 1.6em;margin-top:0.8em; ">
                <input type="image" src="/assets/heart.png" style="height:1.3em;width: 1.6em;margin-top:0.8em;margin-left: 1.5em ;">
   
            
            </div>

        </div>
        <div class="col-3">
            <div style="background-color: #302D50;border-radius: 0.4em;display: flex;padding: 1em;width: 18em; margin-top: 1em ;">
                <input type="image" src="/assets/dp.png" style="height:2em;width: 2em">
                <span style="color:white;max-width:2em;margin-left: 1em;margin-top: 0.3em ;">Gaetanleplug</span>
                <input type="image" src="/assets/approved.png" style="height:1em;width: 1.4em;margin-left: auto;margin-top:0.5em; ;">

            
            </div>
            <div style="z-index: 1; margin-top:1em;background-color: #302D50; border-radius: 0.4em;text-align: center;display: inline-block;padding: 1em;justify-content: center;width: 18em;">
                <img src="/assets/shoeimg.png" style="height:12em;width: 18em">
                <p style="color:white;margin-top:-2.2em;">Dunk Low Black White</p>
                <span>PRIX <span style="color:white">220.00€</span></span>
                <hr>
                <p>TAILLE <span style="color:white">39 EU</span></p>

            </div>
            <div style="z-index:2;display:flex;margin-left: 13em;margin-right: 2em;margin-top: -1.5em;">
                <input type="image" src="/assets/comment.png" style="height:1.3em;width: 1.6em;margin-top:0.8em; ">
                <input type="image" src="/assets/heart.png" style="height:1.3em;width: 1.6em;margin-top:0.8em;margin-left: 1.5em ;">
   
            
            </div>

        </div>
        <div class="col-3">
            <div style="background-color: #302D50;border-radius: 0.4em;display: flex;padding: 1em;width: 18em; margin-top: 1em ;">
                <input type="image" src="/assets/dp.png" style="height:2em;width: 2em">
                <span style="color:white;max-width:2em;margin-left: 1em;margin-top: 0.3em ;">Gaetanleplug</span>
                <input type="image" src="/assets/approved.png" style="height:1em;width: 1.4em;margin-left: auto;margin-top:0.5em; ;">

            
            </div>
            <div style="z-index: 1; margin-top:1em;background-color: #302D50; border-radius: 0.4em;text-align: center;display: inline-block;padding: 1em;justify-content: center;width: 18em;">
                <img src="/assets/shoeimg.png" style="height:12em;width: 18em">
                <p style="color:white;margin-top:-2.2em;">Dunk Low Black White</p>
                <span>PRIX <span style="color:white">220.00€</span></span>
                <hr>
                <p>TAILLE <span style="color:white">39 EU</span></p>

            </div>
            <div style="z-index:2;display:flex;margin-left: 13em;margin-right: 2em;margin-top: -1.5em;">
                <input type="image" src="/assets/comment.png" style="height:1.3em;width: 1.6em;margin-top:0.8em; ">
                <input type="image" src="/assets/heart.png" style="height:1.3em;width: 1.6em;margin-top:0.8em;margin-left: 1.5em ;">
   
            
            </div>

        </div>
        
        

    </div>

    
     </div>
</div>