/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
mat-sidenav{
    margin: 16 px;
    width: 300px;
    border-right: none;
    background: #1B1835;
    color: #9D97CF;
    padding: 20px;
    text-align: left;
}
.content{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    color: white;
}
mat-sidenav-container{
    height: 100%;
    background-color:#272444 ;
}
.menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-family: sans-serif;    
}
.menu-button:hover{
    color: white;
}
mat-icon{
    margin-right: 8px;
}
.name{
    margin-top: 20px;
    color: #CFCED4;
    align-items: center;
    font-size: 2rem;
    font-family: sans-serif;
}
.designation{
    margin-top: 2px;
    font-size: 1rem;
    font-family: sans-serif;
}
mat-divider{
    margin-top: 4px;
    margin-bottom: 4px;
}
.menu-item{
    padding-left: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    font-family: sans-serif; 
}
.menu-item:hover{
    color: white;
}
