<div class="mycontainer">
<div style="padding:2em;border-radius:0.5em; border:1px solid black ;">
<h2 style="color:#928DC2 ;" >Ajouter un item</h2>
<div class="row"> 

    <div class="col">
    <p style="color:#928DC2 ;">NOM</p>
    <input class="box" style="width:22em">
    </div>
    <div class="col">
    <p style="color:#928DC2 ;">Item SKU</p>
    <input class="box" style="width:10em">
    </div>

</div> 
<div class="row" style="margin-top:1em ;"> 

    <div class="col">
    <p style="color:#928DC2 ;">Marque</p>
    <input class="box" style="width:10em">
    </div>
    <div class="col">
    <p style="color:#928DC2 ;">Couleur</p>
    <input class="box" style="width:10em">
    </div>
    <div class="col">
    <p style="color:#928DC2 ;">Condition</p>
    <input class="box" style="width:10em">
    </div>


</div> 
<div class="row" style="margin-top:1em ;"> 

    <div class="col">
    <p style="color:#928DC2 ;">Prix d'achat</p>
    <input class="box" style="width:10em">
    </div>
    <div class="col">
    <p style="color:#928DC2 ;">Lieu d'achat</p>
    <input class="box" style="width:10em">
    </div>
    <div class="col">
    <p style="color:#928DC2 ;">Date d'achat</p>
    <input class="box" style="width:10em">
    </div>


</div> 
<div class="row" style="margin-top:1em ;"> 

    <div class="col">
    <p style="color:#928DC2 ;">Prix de vente</p>
    <input class="box" style="width:10em">
    </div>
    <div class="col">
    <p style="color:#928DC2 ;">Lieu de vente</p>
    <input class="box" style="width:10em">
    </div>
    <div class="col">
    <p style="color:#928DC2 ;">Quantité</p>
    <input class="box" style="width:10em">
    </div>


</div> 
</div> </div> 

